
body{
    background-image: url("pexels-francesco-ungaro-998641.jpg");
    background-size: cover;
    background-position: center;
  }



  .bar{
      max-width: 800px;
      width: 100%;
      background-color: #ffffff;   
      margin: auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 6px 20px rgba(230, 154, 154, 0.5);
    }

    
.info{
    max-width: 700px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(255, 251, 1);
}

.info2{
    display: flex;
    justify-content: space-between;

}

.info3{
    display: flex;
    justify-content: space-around;

}
